apiVersion: v1
kind: Service
metadata:
  name: chores-tracker-backend-service
  namespace: chores-tracker-backend
  labels:
    app: chores-tracker-backend
    component: backend
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: chores-tracker-backend
