# PostgreSQL Configuration
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
POSTGRES_DB=your_database_name

# API Configuration
DATABASE_URL=postgresql+asyncpg://your_database_user:your_database_password@postgres:5432/your_database_name
SECRET_KEY=your_secret_key  # Generate using: python -c "import secrets; print(secrets.token_urlsafe(32))"
DEBUG=True
ENVIRONMENT=development
BACKEND_CORS_ORIGINS="http://localhost:3000,http://localhost:8000"
ACCESS_TOKEN_EXPIRE_MINUTES=11520  # 8 days default
